@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  @apply dark:bg-neutral-900 bg-neutral-100 dark:text-white text-black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  @apply dark:border-neutral-700 border-neutral-300;
}

.chat-container {
  /*tailwind-container default breakpoints: @apply w-full sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1536px];*/

  @apply w-full sm:w-[432px] md:w-[560px] lg:w-[816px] xl:w-[1072px] 2xl:w-[1328px];
}

.border-color {
  @apply dark:border-neutral-700 border-neutral-300;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar { /* Chrome, Safari and Opera */
  display: none;
}